
.container{
    width: 100%;
    display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  background-color: white;
  margin-top: 20px;
}
.sub-container{
    border: 1px solid;
    width: 30vw;
    padding: 10px;
}
img{
    width: 30vw;
    height: 20vw;
}